db/*.sqlite3
db/schema.rb
config/database.yml
config/initializers/paperclip_command_path.rb
doc/*
coverage
.eprj
.DS_Store
.idea/*
nbproject/*

log/*.log

public/stylesheets/all.css
public/javascripts/all.js


tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
tmp/*